<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./price.css">
    <title>Document</title>
</head>
<body>
    <main class="price">
      <h1 class = "price_header" id = "price_header">Pricing options</h1>
      <div class = "price_separator1"></div>
      <h5 class = "price_subheader">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </h5>
      <section class = "price_sections">
        <section>
          <h4>Basic</h4>
          <h3>$10</h3>
          <h5>Free for life</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
        </section>
        <section>
          <h4>Optima</h4>
          <h3>$20</h3>
          <h5>Free for life</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
        </section>
        <section>
          <h4>Pro</h4>
          <h3>$30</h3>
          <h5>Free for life</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
          <h5>1 Gb Of Space</h5>
        </section>
      </section>
    </main>
</body>
</html>